click >= 8.0.3

# discord.py deps
aiohttp >= 3.6.0
async-timeout >= 3.0.1
attrs >= 21.4.0
chardet >= 4.0.0
multidict >= 5.2.0
idna >= 3.3
typing_extensions >= 4.0.1
yarl >= 1.7.2

discord.py >= 1.7.3
